<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lojinha de Doces{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <nav>
        <a href="/"class="btn"> início<a>
        <a href="/categorias" class="btn">Categorias</a> |
        <a href="/produtos"class="btn">Produtos</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Doce Amore – Trabalho Acadêmico</p>
    </footer>
</body>
</html>
