<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lojinha de Doces{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/base.css" />
</head>
<body>
    <header>
        <p> seja bem-vindo! </p>
        <h1>🍬 Doce Amore 🍬</h1>
        <h2> Confeitaria </h2>
    </header>

    <main>
        <ul>
            {% for task in tasks %}
                <li> {{ task.description }} </li>
            {% endfor %}
        </ul>
        <a href="categorias.html" class="btn">Entrar</a>
    </main>

</body>
</html>
