<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}categorias{% endblock %}</title>
    <link rel="stylesheet" href="/static/categorias.css" />
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

    <header>
        <div class="logo">
            <h1>Doce Amore</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/categorias" class="btn">Escolher Categoria</a></li>
                <li><a href="/produtos" class="btn">Ver Produtos</a></li>
            </ul>
        </nav>
    </header>



    <!-- Formulário para criar categoria -->
    <section class="barraPesquisa">
        <form action="/categorias/create" method="POST" class="form-criar">
            <input type="text" name="description" placeholder="Digite a categoria" required>
            <button type="submit" class="btn">Criar</button>
        </form>
    </section>

    <!-- Lista de categorias -->
    <section class="delatu">
        <h2>Sua Lista</h2>
        <ul>
            {% for categoria in categorias %}
                <li>
                    <!-- Form de atualizar -->
                    <form action="/categorias/update/{{ categoria.id }}" method="POST" class="form-inline">
                        <input type="text" name="description" value="{{ categoria.description }}">
                        <button type="submit" class="btn atualizar">Atualizar</button>
                    </form>

                    <!-- Form de deletar -->
                    <form action="categorias/delete/{{ categoria.id }}" method="POST" class="form-inline">
                        <button type="submit" class="btn excluir">Excluir</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </section>

</body>
</html>
