{% extends "base.html" %}
    {% block title %}Categorias{% endblock %}

    {% block content %}
        <h1>Categorias</h1>
        <h2> Adicionar nova Categoria</h2>

        <form action="/categorias/create" method="POST" class="form-criar">
            <input type="text" name="name" placeholder="Nome da Categoria" required>
            <input type="text" name="description" placeholder="Descrição da Categoria" required>
            <button type="submit">Adicionar</button>
        </form>

            <h2>Lista de Categorias</h2>
            <ul>
                {% for categoria in categorias %}
                    <li>
                        <!-- Data sozinha -->
                        <div class="data-criacao">
                            Criado em: {{ categoria.created_at.strftime('%d/%m/%Y %H:%M') }}
                        </div>

                        <!-- Form de atualizar -->
                        <form action="/categorias/update/{{ categoria.id }}" method="POST" class="form-inline">
                            <input type="text" name="description" value="{{ categoria.description }}">
                            <button type="submit" class="atualizar">Atualizar</button>
                        </form>

                        <!-- Form de deletar -->
                        <form action="/categorias/delete/{{ categoria.id }}" method="POST" class="form-inline">
                            <button type="submit" class="excluir">Excluir</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>


        </section>  
    {% endblock %}

</body>
</html>
